<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-blue-get-mac" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>cordova-plugin-blue-get-mac</name><js-module name="cordova-plugin-blue-get-mac" src="www/cordova-plugin-blue-get-mac.js"><clobbers target="cordova.plugins.cordova-plugin-blue-get-mac" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="cordova-plugin-blue-get-mac"><param name="android-package" value="cordova-plugin-blue-get-mac.cordova-plugin-blue-get-mac" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/cordova-plugin-blue-get-mac.java" target-dir="src/cordova-plugin-blue-get-mac/cordova-plugin-blue-get-mac" /></platform></plugin>